<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title style="text-align: center; position: relative"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="container">
    <div class="row" style="position: relative">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="search-box">
          <div class="caption">
            <!-- <h3>LOGIN</h3> -->
            <img src="assets/imgs/regist.jpg" width="200" height="200" style="padding-top: 20px">
          </div>
          <div action="" class="loginForm" (keydown)="enter($event)">
            <div class="input-group">
              <input type="text" id="name" [(ngModel)]="username" class="form-control" placeholder="Full Name">
              <input type="password" id="paw" class="form-control" [(ngModel)]="password1" placeholder="Password">
              <input type="password" id="paw" class="form-control" [(ngModel)]="password2" placeholder="Password">
              <input type="submit" id="submit" class="form-control" value="Submit" (click)="regist()">

              <label *ngIf="noti" style="position: relative; top: 40px; font-size: 20px">{{noti}}</label>
              <label *ngIf="isOk" style="position: relative; top: 40px; font-size: 20px">Regist successfull!</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
